* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#action-control {
  margin-left: 20px;
}

#resultado {
  display: flex;
  align-items: center;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #03152e;
  color: white;
}

main {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.divAltura,
.divPeso,
.divCalc {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
button {
  padding: 10px;
  font-size: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
}

button {
  cursor: pointer;
  background-color: #721de0;
  color: white;
}

@media (max-width: 500px) {
  body,
  input,
  button {
      font-size: 15px;
  }
}

#hamburguer-menu {
  display: inline-block;
  justify-content: left;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

#myLinks {
  display: none;
  background-color: #333;
  color: white;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0; /* Modificado */
  left: 50px; /* Modificado */
  width: 200px;
}

#myLinks a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

#myLinks a:hover {
  background-color: #ddd;
  color: black;
}
